.category-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .content-wrapper {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 16px;
    border-right: 1px solid #ddd;
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  .sidebar h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .sidebar p {
    font-size: 1rem;
    margin: 8px 0;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
  }
  
  .sidebar p:hover {
    color: #0073e6;
  }
  
  .products-container {
    width: 85%; 
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start; 
    align-items: flex-start;
  }
  
  .categories-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  
  .product:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 16px;
    font-size: 3rem;
    color: #0f0f0f !important;
  }

  .price-range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;  
    gap: 16px;
  }
  